/*
https://coolors.co/f46036-2a3d45-93e5ab-65b891-4e878c
https://coolors.co/3d348b-7678ed-f7b801-f18701-f35b04
*/

* { box-sizing: border-box; }
*[hidden] { display: none !important; }
html, body { height: 100%; }

body {
  margin: 0;
  font-family: 'Varela Round', sans-serif;
  /* font-family: 'Crete Round', serif; */
  font-size: 32px;
  color: #eee;
  display: flex;
  flex-flow: column;
}

body a {
  color: #fff;
}

body.disconnected {
  text-align: center;
  padding: 1em;
  color: #444;
}

.emoji {
  height: 1em;
}

/* Top bar */
.top-bar {
  padding: 0.5em;
  background-color: #2a3d45;
  display: flex;
}

.top-bar .user {
  flex: 1;
}

.top-bar .logged-out {
  display: flex;
  align-items: center;
}

.top-bar .logged-out .log-in {
  white-space: nowrap;
  padding-right: 0.5em;
}

.top-bar .log-in-info { display: none; }
.top-bar .logged-out:hover .log-in-info {
  display: initial;
  font-size: 0.4em;
  text-decoration: none;
  opacity: 0.8;
}

.top-bar .logged-in {
  display: flex;
  align-items: center;
}

.top-bar .logged-in .username { padding-right: 0.5em; }
.top-bar .logged-in .log-out { color: #ccc; font-size: smaller; }

.top-bar .about {
  font-size: 50%;
  opacity: 0.4;
}

.top-bar .about-emojione {
  font-size: smaller;
}

/* Views */
.views {
  flex: 1;
  background-color: #eee;
  color: #4e878c;
  overflow-y: scroll;
}

.views .header {
  text-align: center;
  background: #fcebb9;
  display: flex;
}

@media (max-width: 1000px) {
  .views .header {
    display: block;
  }
}

/* Loading */
.views > .loading {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.2;
  padding: 1em;
}

/* Home */
.home .header .logo {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  font-weight: bold;
  font-family: "Crete Round", sans-serif;
  margin: 0;
  background: #f9d15d;
  padding: 1em;
}

.home .header .logo h1 {
  margin: 0.25em;
}

.home .header .info {
  flex: 1;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
}

.home .header .info p {
  margin: 0.5em;
}

.home .header p {
  white-space: nowrap;
}

.home h2 {
  padding: 0.5em;
  margin: 0;
}

.live-games {
  background: #c0c1f6;
  color: #5658ad;
}

.live-games h2 {
  background: #8284ee;
}

.content-packs {
  background: #c4f0d1;
}

.content-packs h2 {
  background: #86d19c;
}

.home .main > div .loading {
  opacity: 0.2;
}

.home .main > div .loading,
.home .main > div .content {
  padding: 1em;
}
